@font-face {font-family: "maple-icon";
  src: url("maple-icon.woff2?t=1567585242778") format("woff2"),
  url("maple-icon.woff?t=1567585242778") format("woff"),
  url('maple-icon.ttf?t=1567585242778') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'maple-icon' !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-outline:before { content: "\ea01"; }
.icon-heart:before { content: "\ea02"; }


